<div class="jumbotron">
  <h1 class="title">Blocipedia</h1>
  <p>Creating and sharing Wikis's made easy</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2 class="subtext">Public Wikis</h2>
    <p class="smaller">Create wikis for everyone to see</p>
  </div>
  <div class="col-md-4">
    <h2 class="subtext">Private Wikis</h2>
    <p class="smaller">Upgrade and keep your wikis private</p>
  </div>
  <div class="col-md-4">
    <h2 class="subtext">Group Collaborations</h2>
    <p class="smaller">Work together as a team to create group wikis</p>
  </div>
</div>










