@import "bootstrap-sprockets";
 @import "bootstrap";


.title {
   color: #7666D4;
}

.subtext{
  color: #D4668D;
  font-size: 22x;
}

.smaller {
  color: #66D4AD;
  font-size: 14x;
}
 .subtitle {
 color: #D4668D;;
 }

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
}

.btn-primary { 
  background-color: #7666D4; 
}
