@import "bootstrap-sprockets";
 @import "bootstrap";
 .title {
   color: #441773;
   text-align: center;
   font-size: 22x;

 }

 .subtitle {
 color: #876AA5;
 text-align: center;
 font-size: 18px;
 }

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }