// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 h1 {
   color: #441773;
   text-align: center;
   font-size: 22x;
 }

 h2 {
 color: #876AA5;
 text-align: center;
 font-size: 18px;
 }